body{
    background-color: rgb(200);
    background-color: rgb(237, 164, 232);
    margin-right: 150px;
    margin-left: 150px;
}

iframe {
    border: none;
    overflow: hidden;
    align-content:center;
}

head{
    text-align: center;
}
