h1 {
    font-family: "Arial";
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

body {
    background-image: linear-gradient(rgb(207, 234, 172), rgb(137, 224, 102));
    align-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Arial";
}

h5 {
    text-align: center;
    font-family: "Arial";

}

h4 {
    margin-right: 100px;
    padding: 10px;
    margin-left: 100px;
    background-color: rgba(227, 254, 202, .6);
}

h4 {
    padding: 10px;
    background-color: rgba(227, 254, 202, .9);
}

img {}

ul {
    align-content: center
}

p {
    background-color: rgba(217, 254, 192, .8);
    text-align: center;
    font-family: "Arial";
    margin-right: 80px;
    margin-left: 80px;
    padding: 20px;
    box-sizing: border-box;
    border-width: thin;
}
